/* #startregion Common Rules */
:root {
    --ps-dark: #000000;
    --ps-dark-light: #363636;
    --ps-light: #FFFFFF;
    --ps-primary: #0070D1;
    --ps-new: #1F1F1F;
    --ps-plus: #BEBCBB;  
    --ps-now:  #161C3B;
    --ps-footer: #00439C;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--ps-primary);
}

p {
    color: var(--ps-dark-light);
}

a {
    text-decoration: none;
}

.ps5, 
.slider, 
.explore_ps4, 
.new_discounts, 
footer,
.social {
    padding: 5rem 0;
}

.dropdown_toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: -0.7em;
    content: url('../img/chevron-down-solid.svg');
    
}
/* #endregion common rules */

/* #startregion header */
header {
    width: 100%;
}

.sony {
    background-color: var(--ps-dark);
    text-align: right;
    padding: 1rem;
    width: 100%;
}

.sony img {
    width: 100px;
}

/* #endregion header*/

/* #startregion Main */
/* ps5 */
.ps5 .col img {
    width: 70%;
}

.ps5 .col {
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
}

/* new releases */
.featured {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    color: var(--ps-light);
}

.featured img, .featured h2, .featured p, .all_games h3 {
    padding-bottom: 1rem;
}

.featured img {
    width: 60%;
}

.all_games {
    background-color: var(--ps-new);
    padding: 2rem 0;
    color: var(--ps-light);
}

.all_games img {
    border-radius: 1rem;
}

.all_games .row {
    row-gap: 1rem;
}

/* explore ps4 */
.explore_ps4 p {
    padding-bottom: 3rem;
}

.explore_ps4 .row {
    row-gap: 2rem;
}

/* banner playstationplus */
.playstation_plus {
    background-color: var(--ps-plus);
}

.playstation_plus .row .col:first-child img {
    width: 70%;
    padding-bottom: 1rem;
}

.playstation_plus p {
    padding-bottom: 0.7rem;
}



/* new discounts */
.new_discounts p {
    padding-bottom: 1rem;
}


/* banner playstationplus */
.playstation_now {
    background-color: var(--ps-now);
}

.playstation_now .row .col:first-child img {
    width: 70%;
    padding-bottom: 1rem;
}

.playstation_now p {
    padding-bottom: 0.7rem;
    color: var(--ps-light);
}

/* social */
.social h2 {
    padding-bottom: 2rem;
}


/* #endregion main */



/* #endregion footer */
footer {
    background-color: var(--ps-footer);
    color: var(--ps-light);
}

footer a {
    color: var(--ps-light);
    display: block;
    line-height: 2.5rem;
}

footer a:hover {
    color: var(--ps-light);
}

footer p {
    color: var(--ps-light);
}

footer span {
    color: var(--ps-light);
}

.sony_footer {
    width: 25%;
    padding-bottom: 1rem;
}

.logo_footer {
    width: 25%;
    padding-bottom: 2rem;
}

/* #endregion footer */