/* #startregion Common Rules */
:root {
    --ps-dark: #000000;
    --ps-dark-light: #363636;
    --ps-light: #FFFFFF;
    --ps-primary: #0070D1;
    --ps-new: #1F1F1F;
    --ps-plus: #BEBCBB;   
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--ps-primary);
}

p {
    color: var(--ps-dark-light);
}

.ps5, .slider, .explore_ps4 {
    padding: 5rem 0;
}
/* #endregion common rules */

/* #startregion header */
.sony {
    background-color: var(--ps-dark);
    text-align: right;
    padding: 1rem;
    width: 100%;
}

.sony img {
    width: 100px;
}
/* #endregion header*/

/* #startregion Main */
/* ps5 */
.ps5 .col img {
    width: 70%;
}

.ps5 .col {
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
}

/* .ps5 .row.row-cols-3.row-cols-md-5:first-child {
    border-bottom: 1px solid var(--ps-primary); da rivedere
} */

/* new releases */
.featured {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    color: var(--ps-light);
}

.featured img, .featured h2, .featured p, .all_games h3 {
    padding-bottom: 1rem;
}

.featured img {
    width: 60%;
}

.all_games {
    background-color: var(--ps-new);
    padding: 2rem 0;
    color: var(--ps-light);
}

.all_games img {
    border-radius: 1rem;
}

.all_games .row {
    row-gap: 1rem;
}

/* explore ps4 */
.explore_ps4 p {
    padding-bottom: 3rem;
}

.explore_ps4 .row {
    row-gap: 2rem;
}





/* #endregion main */
